@{
    ViewData["Title"] = "Home Page";
}

<div id="content-container">
    <div id="content">
        <article id="post-9" class="box content entry-content post-9 page type-page status-publish">
            <div class="intern-padding clearfix">
                <p>
                    <strong>
                        <span id="cphMain_lblBlk2" class="bold">
                            About the Medical Device Regulatory Working Group (MDRWG)
                            <br>
                        </span>
                    </strong>
                    <span id="cphMain_lblNews"></span>
                    The mission of the MDRWG is to provide an authoritative voice on regulatory compliance matters in the medical device industry.
                </p>
                <p>
                    <strong>
                        Join Today<br>
                    </strong>
                    If you are a medical device regulatory professional, please click here to join. Membership is free.
                    <a class="btnOrange Font12" href="" data-toggle="modal" data-target="#myModal" id="userlogin" rel="noopener noreferrer">Join Now</a>
                </p>
                <p>
                    <strong>MAGI</strong>
                    <br>The MDRWG is supported by
                    <a href="https://www.magiworld.org/home">MAGI</a>.
                    MAGI’s next Clinical Research Conference will be in Las Vegas, October 27-30. To learn more,
                    <a href="https://www.magiworld.org/EventInfo?PK=47">click here</a>.
                    To speak at a MAGI conference, <a href="https://www.magiworld.org/BeASpeaker">click here</a>.
                </p>
                <p></p>
            </div>
        </article>
    </div>
</div>
